DEFAULT {{ vm_name }}
LABEL {{ vm_name }}
MENU LABEL {{ vm_name }}
  ipappend 2
  kernel  http://{{ ansible_default_ipv4.address }}:{{ webport }}/{{ otherinstall_dir }}/{{ installer_kernel }}
  append ip=dhcp rd.neednet=1 initrd=http://{{ ansible_default_ipv4.address }}:{{ webport }}/{{ otherinstall_dir }}/{{ initramfs_file }}  console=tty0 console=ttyS0 coreos.inst=yes coreos.inst.install_dev={{ coreos_inst_install_dev }} coreos.inst.image_url=http://{{ ansible_default_ipv4.address }}:{{ webport }}/{{ otherinstall_dir }}/{{ coreos_inst_image_file }} coreos.inst.ignition_url=http://{{ ansible_default_ipv4.address }}:{{ webport }}/{{ coreos_inst_ignition_dir }}/{{  ign_type }}.ign ip={{ vmip }}::{{ ansible_default_ipv4.gateway }}:{{ ansible_default_ipv4.netmask }}:{{ vm_name }}.{{ ocp_cluster_name }}.{{ domain_name }}::none nameserver={{ ansible_default_ipv4.address }}
